{% extends 'baseForm.html' %}
{% load static %}
{% load widget_tweaks %}
{% load poll_extras %}

{% block TitleHTML %}
Consultation des Factures
{% endblock %}

{% block the_form %}
<div class="alert top alert-success" role="alert">
    Operation effectué avec succès !
</div>
<div class="alert top alert-danger" role="alert">
    Operation a échoué car elle est lié à une autre entité !
</div>
<h2>Consultation des Factures</h2>
{% if bill_filters.count != 0 %}
<div class="direct-content">
    <div class="filter-section">
        <form method="get">
           {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 col-md-2" style="padding-left: 0">
                    {% render_field filter.form.bill_num class="form-control" placeholder="Numéro" %}
                </div>
                <div class="col-xs-12 col-md-2">
                    {% render_field filter.form.provider class="form-control" %}
                </div>
                <div class="col-xs-12 col-md-3">
                    {% render_field filter.form.service class="form-control" %}
                </div>
                <div class="col-xs-12 col-md-2">
                    {% render_field filter.form.decision_FC class="form-control" placeholder="Numéro" %}
                </div>
                <div class="col-xs-12 col-md-2">
                    {% render_field filter.form.slip class="form-control" placeholder="Numéro" %}
                </div>
                <div class="col-xs-12 col-md-1">
                    <button type="submit" class="filter-btn">Filter</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-hover table-striped table-bordered" id="bill-table">
      <thead>
        <tr>
          <th scope="col">#Numero</th>
          <th scope="col">#Fournisseur</th>
          <th scope="col">#Date</th>
          <th scope="col">#M.Totale</th>
          <th scope="col">#Service</th>
          <th scope="col">#M.Totale</th>
          <th scope="col">#Status</th>
          <th scope="col">#Action</th>
        </tr>
      </thead>
      <tbody>
        {% include 'includes/partial_bill_list.html' %}
      </tbody>
    </table>
    {% include "pagination.html" with page=bill_filters %}
</div>
{% else %}
<div class="direct-content">
    <div class="alert alert-info" role="alert">
        Aucune facture disponible !
    </div>
</div>
{% endif %}
<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-bill">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>

    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script>
    $('#id_provider option:first').text('Par fournisseur');
    $('#id_service option:first').text('Par service');
    $('#id_decision_FC option:first').text('Par decision FC');
    $('#id_slip option:first').text('Par bordereau');
    $(function () {

    /* Functions */

    var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-bill").modal("show");
      },
      success: function (data) {
        $("#modal-bill .modal-content").html(data.html_form);
      }
    });
    };

    var saveForm = function () {
    var form = $(this),
        id = $(".js-bill-update-form").data("id");
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#bill-table tbody").html(data.html_bill_list);
          $("#modal-bill").modal("hide").delay(1000);
          $(".alert-success").slideDown(300).delay(2500).slideUp(300);
        }
        else {
          $("#modal-bill").modal("hide").delay(1000);
          $(".alert-danger").slideDown(300).delay(2500).slideUp(300);
        }
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
          $("#modal-bill").modal("hide").delay(1000);
          $(".alert-danger").slideDown(300).delay(2500).slideUp(300);
     }
    });
    return false;
    };


    //Update Bill
    $("#bill-table").on("click", ".js-update-bill", loadForm);
    $("#modal-bill").on("submit", ".js-bill-update-form", saveForm);

    //Delete Bill
    $("#bill-table").on("click", ".js-delete-bill", loadForm);
    $("#modal-bill").on("submit", ".js-bill-delete-form", saveForm);



     
     $("tr").find("td").click(function(){
         if (!($(this).hasClass("not-allowed"))){
            window.location = $(this).parent("tr").data('url');
         }
     });

    });
    </script>
{% endblock %}
