{% extends 'baseForm.html' %}
{% load static %}
{% block TitleHTML %}
    Consultation des taux de reason
{% endblock %}


{% block the_form %}
    <div class="alert top alert-success" role="alert">
      Operation effectué avec succès !
    </div>
    <div class="alert top alert-danger" role="alert">
    Operation a échoué car elle est lié à une autre entité !
    </div>
    {% load django_bootstrap_breadcrumbs %}
    <div class="row">
        <div class="col-xs-6">
            <h2>Consultation des Motifs de Rejets</h2>
        </div>
        <div class="col-xs-6">
            {% block content %}
                {{ block.super }}
                {% breadcrumb "Consulter" "reasons_consulting" %}
                {% breadcrumb "Motifs de Rejets" "#" %}
            {% endblock %}
        </div>
    </div>
    {% if object_list.count != 0 %}
    <div class="col-xs-12 col-md-6 direct-content">
        <table class="table table-hover table-striped table-bordered" id="reason-table">
          <thead>
            <tr>
              <th scope="col" width="85%">#Reason</th>
              <th scope="col" width="15%">#Action</th>
            </tr>
          </thead>
          <tbody>
            {% include 'includes/partial_reason_list.html' %}
          </tbody>
        </table>
        <a href="{% url "create_r_r" %}"><button class="submit-btn"><i class="fa fa-plus"></i>  Ajouter</button></a>
    </div>
    {% else  %}
    <div class="col-xs-12 col-md-12 direct-content">
        <div class="alert alert-info" role="alert">
           Aucun motif de rejet disponible !
        </div>
        <a href="{% url "create_r_r" %}"><button class="submit-btn"><i class="fa fa-plus"></i>  Ajouter</button></a>
    </div>
    {% endif %}


<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-reason">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>

<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script>
$(function () {

  /* Functions */

  var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-reason").modal("show");
      },
      success: function (data) {
        $("#modal-reason .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#reason-table tbody").html(data.html_reason_list);
          $("#modal-reason").modal("hide").delay(1000);
          $(".alert-success").slideDown(300).delay(2500).slideUp(300);
        }
        else {
          $("#modal-reason").modal("hide").delay(1000);
          $(".alert-danger").slideDown(300).delay(2500).slideUp(300);
        }
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
          $("#modal-reason").modal("hide").delay(1000);
          $(".alert-danger").slideDown(300).delay(2500).slideUp(300);
     }
    });
    return false;
  };


  /* Binding */

  //Update reason
  $("#reason-table").on("click", ".js-update-reason", loadForm);
  $("#modal-reason").on("submit", ".js-reason-update-form", saveForm);

  //Delete reason
  $("#reason-table").on("click", ".js-delete-reason", loadForm);
  $("#modal-reason").on("submit", ".js-reason-delete-form", saveForm);


});
</script>

{% endblock %}