{% load poll_extras %}
{% for bill in bill_filters %}
        <tr style="cursor: default">
            <td>
                {{ bill.bill_num }}
            </td>
            <td>
                {{ bill.provider.provider_last_name}} {{ bill.provider.provider_first_name }}
            </td>
            <td>
                {{ bill.service }}
            </td>
            <td>
                {{ bill.district}}
            </td>
            <td>
                {{ bill.entry_date}}
            </td>
            <td>
                {{ bill.ht_amount}} DA
            </td>
            <td>
                <a href="{% url 'bill_detail' pk=bill.bill_id %}"><i class="fa fa-plus"></i></a>
            </td>
        </tr>
{% endfor%}